<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/liot/static/stylesheet.css">
	<script src="https://telegram.org/js/telegram-web-app.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script type="text/javascript">
		var initMessageId = {{ init_message_id }};
		var services = JSON.parse('{{ services_json|escapejs }}');

		var userId = JSON.parse(new URLSearchParams(window.Telegram.WebApp.initData).get('user')).id;

		let initData = new URLSearchParams(window.Telegram.WebApp.initData);
		var initDataHash = initData.get('hash');

		initData.delete('hash');
		initData.sort();
		var dataCheckString = initData.toString();

		var freeDates;
		$.getJSON(`${window.location.origin}/liot/get_free_dates`, function(data) {
			freeDates = data.free_dates;
		});
	</script>
</head>
<body>
	<div id="main">
		<div id="select_services">
			<div class="header_big">Выберите услуги</div>
			{% for service in services %}
			<div class="select_service" data-service_index="{{ forloop.counter0 }}">
				<div class="select_service-title">{{ service.title }}</div>
				<div class="select_service-price">{{ service.price }} ₽</div>
			</div>
			{% endfor %}
		</div>
		<div id="select_date_and_time" style="display: none;">
			<div class="header_big">Выберите дату и время</div>
			<div id="select_date_and_time-dates">
				<!-- generated -->
			</div>
			<hr>
			<div id="select_date_and_time-times" style="display: none;">
				<!-- generated -->
			</div>
		</div>
	</div>
	<script src="/liot/static/script.js"></script>
</body>
</html>
